html{
  background-color:#232946;
}
#app{
  background-color: #232946;
  color: #fffffe;
  height: 1080px

}
.jumbotron{
  margin-top: -30px;
  background-color: #232946;
  color: #fffffe;
}

.costum-nav{
  margin-bottom: 100px;
  border-radius: 6px;
  background-color: #232946 !important ;
    .router-link-exact-active{
      font-weight: bold;
      color: #fffffe !important;
    }
  .dropdown-menu-right{
    background-color: #eebbc3;
    .dropdown-item{
      &:hover{
        color: #fffffe;
        background-color: #ff8906;
      }
    }
  }
}
.ic-order{
  color: #fffffe;

}
.img-foods{
  margin-top: -30px !important;
}

.img-foods-hero{
  margin-top: 30px;
}
.title-product,.title-product-home{
  font-size: 30px;
  margin-top: 140px;
  span{
    color: #ff5470;
    font-weight: 600;
  }
}
    .text-product{
      color: #b8c1ec !important;
      font-weight: 600;
    }
.costum-card{
  
  margin-top: 30px;
  background-color: #fffffe;
  .card-title{
    margin-top: 10px;
    color: #232946 !important;
    font-weight: bold;
  }
  .card-text, .card-content{
    color: #232946;
    font-weight: normal;
  }
}
.best-product{
  margin-top: 140px;
}


.footer{
  margin-top: 150px !important;
  background-color: #232946;
  color: #fffffe !important;
}

// food

.hero-food-text{
  margin-top: 50px;
  span{
    color: #ff5470;
    font-weight: 600;
  }
  .text-home{
    color: #b8c1ec;
    font-weight: 600;
  }
}

.btn-cte{
  margin-top: 10px !important;
  background-color: #ff5470;
  &:hover{
    background-color: #004643;
  }
}


.search{
  background-color: #fffffe !important;
  font-weight: bold;
}

// detail
.bg-card-detail{
  margin-top: 50px !important;
  color: #232946;
  border-radius: 12px;
  background-color: #fffffe;
}

// charts
strong{
  color: #ff5470;
}




// mobile
@media screen and (max-width: 600px) {
  html{
    background-color: #232946 !important;
  }
  .hero-food-text{
    text-align: center;
    margin-top: -70px;
  }
  .btn-cte{
    margin-top: 10px !important;
    background-color: #ff5470;
  &:hover{
    background-color: #004643;
  }
  }
  .img-foods{
    margin-top: -100px !important;
  }

  .costum-card{
    margin-bottom: -80px;
  }
}

// tablet
@media screen and (max-width: 992px) {
  .hero-food-text{
    text-align: center;
    margin-top: -20px;
  }
  .btn-cte{
    margin-top: 10px !important;
    background-color: #ff5470;
  &:hover{
    background-color: #004643;
  }
  }
  .img-foods{
    width: 300px !important;
    margin-top: 10px !important;
  }

  .costum-card{
    margin-bottom: -80px;
  }
  .title-product{
    margin-top: -0px;
    margin-top: 30px;
  }
  .title-product-home{
    margin-top: -0px;
    margin-top: 80px;
  }

}